.item{
    flex-basis: 23%;
    background-color: #fff;
    padding: 1rem ;
    border-radius: 5px;
    margin-top: 1rem;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;

}
.item *{
    background-color: #fff;
}
.category{
    font-size: 1.4rem;
    height: 3rem;
    text-align: center;
    position: relative;
    padding-top: 1rem;
    font-weight: 500;
    font-style: italic;
}
.id{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(218, 41, 91);
}
.item__img{
    width: 30%;
    margin: 0 auto;
    min-height: 25%;
    display: flex;
    justify-content: center;
    align-items: center; 
   
}
.item__img img{
    max-width: 100%;
    
}
.title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.description {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 0.6rem;
    font-style: italic;
}
.count{
    text-align: center;
    padding-top: 0.7rem;
    color: darkgreen;
}
.count span{
    font-weight: bold;
    font-size: 1.3rem;
}
.price {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 0.5rem;
}
.buy{
    height: 2rem;
    background-color: blueviolet;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 1rem;
    transition: 0.5s all ease-in-out;
}
.buy:hover{
    background-color: rgb(207, 28, 174);
}
.rat {
  text-align: center;
}
.rating{
    display: inline-flex;
    flex-direction: row-reverse;
}
.rating__item{
    font-size: 2rem;
    color: #dcdcdc;
    cursor: pointer;
    transition: .2s;
}
.rating__item:hover,
.rating__item:hover ~ .rating__item{
    color: #989897;
}
.rating[data-total-value="1"] .rating__item:nth-child(n+5),
.rating[data-total-value="2"] .rating__item:nth-child(n+4), 
.rating[data-total-value="3"] .rating__item:nth-child(n+3), 
.rating[data-total-value="4"] .rating__item:nth-child(n+2), 
.rating[data-total-value="5"] .rating__item:nth-child(n+1){
    color:orange;
} 