.text{
    color: blueviolet;
    font-size: 3rem;
    text-align: center;
}
.items__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    gap: 0.6rem;
    padding-bottom: 2rem;
}
